<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif">
</head>

<body>
    <!-- -----------------------------------------------company---------------------------------------------------------------- -->
    <header>
        <div class="logo">
            <div class="logo-text">
                <h1>NSS KJSIT</h1>
                <h2>NOT ME BUT YOU</h2>
            </div>
            <img src="Images/nsslogo.png" alt="Logo">
        </div>
        <nav><b>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li class="dropdown">
              <a href="#">Year</a>
              <ul class="dropdown-menu">
                <li class="nested-dropdown">
                  <a href="#">2018-2019</a>
                  <ul class="nested-dropdown-menu">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                  </ul>
                </li>
                <li class="nested-dropdown">
                  <a href="#">2019-2020</a>
                  <ul class="nested-dropdown-menu">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                  </ul>
                </li>
                <li class="nested-dropdown">
                  <a href="#">2020-2021</a>
                  <ul class="nested-dropdown-menu">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                  </ul>
                </li>
                <li class="nested-dropdown">
                  <a href="#">2021-2022</a>
                  <ul class="nested-dropdown-menu">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                  </ul>
                </li>
                <li class="nested-dropdown">
                  <a href="#">2022-2023</a>
                  <ul class="nested-dropdown-menu">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Enroll Now</a></li>
          </ul></b>
        </nav>
    </header>
    <div class="company">
        <div class="img">
            <img src="Images/img1.jpeg" alt="" />
        </div>
        <div class="company-info">
            <span>ABOUT <span class="our">US</span></span>
            <p>
                <b>KJSIT NSS</b> provide opportunities to students to contribute their bit in the welfare of the society. NSS has departments spanning all avenues of community service right from educating the underprivileged to innovating solutions to
                social problems using technology.
            </p>
        </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
    <div class="team"><span>OUR FACULTY</span></div>
    <div class="container">
        <div class="card">
            <div class="card-image loading"><img src="Images/Suresh sir.jpg" alt="" /></div>
            <div class="card-info">
                <h3 class="card-title loading"><span>Suresh <span class="yellow-surname">Ukrande</span></span>
                </h3>
                <p class="card-description loading">
                    <span class="personal-info">
              <span class="info">Principal</span> <br> K. J Somaiya Institute of Tech<br> Email: <a href="mailto:'suresh.ukrande@somaiya.edu'">suresh.ukrande@somaiya.edu</a>
                    </span>
                </p>
                <div class="card-mediaIcons">
                    <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="{% url 'viewprofile' 9 %}" class="loading" target="on_blank"><i><img
                  src="Images/nsslogo.png" alt="Pico"></a></i>
                    <a href="https://www.instagram.com/yashfalke77/" class="loading" target="on_blank"><i
                class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image loading"><img src="Images/Vice.jpg" alt="" /></div>
            <div class="card-info">
                <h3 class="card-title loading"><span>Sunita <span class="yellow-surname">Patil</span></span>
                </h3>
                <p class="card-description loading">
                    <span class="personal-info">
              <span class="info">Vice Principal</span> <br> K. J Somaiya Institute of Tech <br> Email: <a href="mailto:'sunita.patil@somaia.edu'">sunita.patil@somaia.edu</a>
                    </span>
                </p>
                <div class="card-mediaIcons">
                    <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="{% url 'viewprofile' 7 %}" class="loading" target="on_blank"><i><img
                  src="Images/nsslogo.png" alt="Pico"></i></a>
                    <a href="https://www.instagram.com/harshsunwani/" class="loading" target="on_blank"><i
                class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image loading"><img src="Images/pankajsir.jpeg" alt="" /></div>
            <div class="card-info">
                <h3 class="card-title loading"><span>Pankaj <span class="yellow-surname">Deshmukh</span></span>
                </h3>
                <p class="card-description loading">
                    <span class="personal-info">
              <span class="info">Asst. Professor</span> <br> K. J Somaiya Institute of Tech <br> Email: <a href="mailto:'pankaj@somaiya.edu'">pankaj@somaiya.edu</a>
                    </span>
                </p>
                <div class="card-mediaIcons">
                    <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="{% url 'viewprofile' 6 %}" class="loading" target="on_blank"><i><img
                  src="Images/nsslogo.png" alt="Pico"></a></i>
                    <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------footer------------------------------------------ -->
    <footer>
        <div class="content">
            <div class="top">
                <div class="logo-details">
                    <span class="logo_name">KJSIT NSS</span>
                </div>
                <div class="media-icons">
                    <a target="on_blank" href="#"><i class="fab fa-facebook"></i></a>
                    <a target="on_blank" href="https://www.instagram.com/kjsit_official/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="link-boxes">
                <ul class="box">
                    <li class="link_name">Links</li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'upload' %}">Contact Us</a></li>

                </ul>
                <ul class="box">
                    <li class="link_name">Recommended</li>
                    <li><a href="team.html">Core</a></li>
                    <li><a href="{% url 'category' 5 %">Contact Us</a></li>
                    <li><a href="{% url 'category' 11 %">People</a></li>
                    <li><a href="{% url 'category' 2 %">Work</a></li>

                </ul>
                <ul class="box">
                    <li class="link_name">Legal Info</li>
                    <li><a href="{% url 'licence' %}">Gallery</a></li>
                    <li><a href="{% url 'terms' %}">NSS Volunters</a></li>
                    <li><a href="{% url 'privacy' %}">Work</a></li>

                </ul>
                <ul class="box">
                    <li class="link_name">Contact</li>
                    <li><a target="on_blank" href="tel:+919079680135">+91 9847475859</a></li>
                    <li><a target="on_blank" href="mailto:'connectpicoindia@gmail.com'">contactnss@gmail.com</a></li>
                </ul>
            </div>
        </div>

        <div class="bottom-details">
            <div class="bottom_text">
                <span class="copyright_text">Copyright © 2023 <a href="#">NSS KJSIT</a></span>
            </div>
        </div>
    </footer>
    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------- -->
    <script src="home.js"></script>

</html>